@model VisugMovies.ViewModels.MovieListViewModel

<h2>Genres</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Director</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach( var movie in Model.Movies ) {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Title</td>
            <td>@movie.Director</td>
            <td>@movie.Genre.Name</td>
            <td>
                <a class="btn btn-danger" asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
                <a class="btn btn-primary" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Movies" asp-action="Add">Add a new movie</a>